# Blacklist everything by default
*

# Include directories so file patterns may be whitelisted
!*/

# Include specific file patterns
!/deps.edn
!/.gitignore
!/LICENSE.txt
!/NOTICE.txt
!/package.json
!/README.md
!/resources/public/css/**/*.css
!/resources/public/extensions/lang/rholang/tree-sitter/queries/*.scm
!/resources/public/**/*.html
!/scripts/**/*.sh
!/shadow-cljs.edn
!/src/**/*.cljs

# Exclude specific file patterns
/resources/public/js/test/*
