{:deps {:aliases [:dev]}
 :builds {:libs {:target :esm
                 :output-dir "dist/libs"
                 :modules {:lib.core {:entries [lib.core]
                                      :exports {Editor lib.core/Editor}}
                           :ext.lang.rholang {:entries [ext.lang.rholang]
                                              :depends-on #{:lib.core}
                                              :exports {RholangExtension ext.lang.rholang/RholangExtension}}}
                 :js-options {:resolve {"fs" false
                                        "fs/promises" false
                                        "path" false}
                              :keep-as-import #{"react" "react-dom" "rxjs"
                                                "@codemirror/autocomplete" "@codemirror/commands" "@codemirror/language" "@codemirror/state" "@codemirror/view"
                                                "web-tree-sitter"}}
                 :compiler-options {:closure-extra-annotations #{"@typedef" "@param" "@return" "@type" "@prop"}
                                    :externs ["externs/libs.ext.js"
                                              "datascript/externs.js"]}
                 :dev {:optimizations :none
                       :compiler-options {:closure-defines {"lib.db.DEBUG" true}}}
                 :release {:optimizations :advanced
                           :compiler-options {:closure-defines {"lib.db.DEBUG" false}}}}
          :app {:target :browser
                :output-dir "resources/public/js"
                :asset-path "/js"
                :modules {:main {:init-fn app.core/init}}
                :devtools {:after-load app.core/reload
                           :preloads [devtools.preload
                                      day8.re-frame-10x.preload.react-18
                                      re-frisk.preload]}
                :compiler-options {:closure-defines {"re_frame.trace.trace_enabled_QMARK_" true}}
                :js-options {:resolve {"fs" false
                                       "fs/promises" false
                                       "path" false}}}
          :demo {:target :browser
                 :output-dir "resources/public/demo/js"
                 :asset-path "/js"
                 :modules {:main {:entries []}}
                 :devtools {:http-root "resources/public/demo"
                            :http-port 3001}
                 :js-options {:resolve {"fs" false
                                        "fs/promises" false
                                        "path" false}}}
          :test {:target :browser-test
                 :test-dir "resources/public/js/test"
                 :ns-regexp "-test$"
                 :devtools {:http-port 8021
                            :http-root "resources/public/js/test"
                            :autorun true}
                 :js-options {:resolve {"fs" false
                                        "fs/promises" false
                                        "path" false}}}
          :karma-test {:target :karma
                       :output-to "target/karma-test.js"
                       :ns-regexp "-test$"
                       :entries [cljs-test-runner]
                       :js-options {:resolve {"fs" false
                                              "fs/promises" false
                                              "path" false}}}
          :karma-test-advanced {:target :karma
                                :output-to "target/karma-test-advanced.js"
                                :ns-regexp "-test$"
                                :entries [cljs-test-runner]
                                :js-options {:resolve {"fs" false
                                                       "fs/promises" false
                                                       "path" false}}
                                :compiler-options {:optimizations :advanced
                                                   :pseudo-names true
                                                   :externs ["externs/libs.ext.js"
                                                             "datascript/externs.js"]}}}
 :dev-http {3000 "resources/public"}
 :jvm-opts ["--sun-misc-unsafe-memory-access=allow"]}
